music_folder_library=/absolute/path/to/music/library
music_folder_downloads=/absolute/path/to/music/download
TZ=Europe/Berlin

# --- navidrome ---
lastfm_api="yourKey"
lastfm_shared_secret="yourSecret"

# ---lidarr ---
lidarr_api="yourKey"
lidarr_user=test # irrelevant to set
lidarr_password=test # irrelevant to set


# --- slskd ---
slskd_api="yourKey"
slsk_user="yourUsername"
slsk_password='yourPassword'
